html {
    font-size: 100%;
}

body {
    font-family: 'Crimson Text', serifs-serif;
}

h1 {
    display: block;
    font-family: 'Roboto', sans-serif;
    line-height: 6rem;
    margin-bottom: 2rem;
    position: static;
};

h2 {
    display: block;
    position: static;
}

button {
    display: inline-block;
    padding: 10px;
 
}

.datatable_wrap {
    margin: 1rem 0;
}

.article-title {
    font-family: 'Lora', serif;
    font-style: italic;
}

.black-border {
 
    margin: auto;
    border: 1px solid grey;

}

.blur-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}