/* frosted glass */

#frosted-glass-mask {
	background: white;
	border: #ffffff63 solid 3px;
	border-radius: 1em;
	box-shadow: 6px 7px 5px #00000075;
	height: 350px;
	left: 50%;
	margin-right: -50%;
	opacity: 0.6;
	overflow: hidden;
	padding: 1em;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 420px;
}

#frosted-glass-mask:after {
	background: white;
	box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.05);
	content: '';
	filter: blur(10px);
	height: 350px;
	position: absolute;
	width: 420px;
}

#body-content-clone {
	background: url("../img/dining-room-3108037.jpg") no-repeat center center;
	background-attachment: fixed;
	filter: blur(10px);
	overflow: hidden;
	position: absolute;
	text-shadow: 2px 2px 8px black;
}

.splash-text-box {
	border: #ffffff63 solid 3px;
	border-radius: 1em;
	box-shadow: 6px 7px 5px #00000075;
	height: 350px;
	left: 50%;
	opacity: 1;
	overflow: hidden;
	padding: 1.5rem;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 420px;
	/* margin-right: -50%; */
}

.splash-text-title {
	font-family: "Baloo Tamma 2", cursive;
	color: white;
	font-size: 4rem;
	line-height: 3.5rem;
	text-shadow: 2px 2px 8px black;
}

.splash-text-sub {
	color: black;
	font-family: "Baloo Tamma 2", cursive;
	font-size: 2rem;
	line-height: 2rem;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	display: inline-block;
}

.splash-text-button {
	opacity: 1;
	padding: 4px;
}