<!-- Supporting home route for result of the search panel,
	all_articles route for listing all the articles and
	my articles route listing articles owned by current user. -->
{% extends 'base.template.html' %} {% block header %}
<h1>
	{% block title %}
	{% if listtype == 'all' %}
	All Articles
	{% elif listtype=="my" %}
	My Articles
	{% else %}
	Articles Search
	{% endif %}
	{% endblock %}
</h1>
{% endblock %}
<!-- This section display the criteria of the search 
	if the listing is result of a search. -->
{% block content %} 
{% if (listtype == "search") %}
<div class="black-border blur-shadow search-param px-0">
    <div class="container p-2">
        Searched for articles which fulfil the following conditions:<br />
        <ul>
            {% if (form.getlist('check-search-titles')) %} 
                {% if (form.get('search-title').strip() == "") %}
                    <li>any words</li>
                {% else %}
                    <li>titles contain '{{form.get('search-title')}}'</li>
                {% endif %} 
            {% endif %} 
            {% if (form.getlist('check-search-locations')) and (locationArray|length > 0) %}
                <li>
                    cleaning:
                    <ul>
                        {% for each_location in locationArray %}
                        <li>{{each_location}}</li>
                        {% endfor %}
                    </ul>
                </li>
            {% endif %} 
            {% if (form.getlist('check-search-tags')) and tagsArray|length > 0 %} 
                {% if (tagsArray|length) > 1 %}
                    <li>
                        with one or more of these tags:
                        <ul>
                            {% for each_tag in tagsArray %}
                                <li>{{each_tag}}</li>
                            {% endfor %}
                        </ul>
                    </li>
                {% else %}
                    <li>
                        with this tag:
                        <ul>
                            {% for each_tag in tagsArray %}
                                <li>{{each_tag}}</li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endif %} 
            {% endif %}
	    </ul>
    </div>
</div>
{% endif %}
<!-- This section display a list of requested articles. -->
<div class="container black-border blur-shadow p-2 mb-5">
	<table
		id="myTable" class="article-title table table-striped table-bordered dt-responsive  display  "
		 data-page-length="10" style="width: 100%">
		<thead class="thead-dark">
			<tr>
				<th class="all title px-5 algin-center">
					Article Title: 
				</th>
				<th class="min-tablet">
					Cleaning Location: 
				</th>
				<th class="min-tablet-l">
					Action: 
				</th>
			</tr>
		</thead>
		<tbody>
			{% for article in articles %}
			<tr>
				<td class="title px-5 align-middle">
					{{article.article_title}}
				</td>
				<td class="align-middle">
					{{article.cleaning_location}}
				</td>
				<td class="align-middle  m-0 p-0 ">
					<a href="{{url_for('show_article',_id=article._id)}}" class="btn btn6 btn-primary btn-md">View</a>
					{% if listtype=='my' or current_user.admin %}
                        {% if listtype=="my" %}
                            <a href="{{url_for('delete_article',_id=article._id, listtype='my')}}" class="btn btn6 btn-warning btn-md">Delete</a>
                        {% else %}
					        <a href="{{url_for('delete_article',_id=article._id, listtype='list')}}" class="btn btn6 btn-warning btn-md">Delete</a>
                        {% endif %}
					{% endif %}
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<div>
		{% endblock %}
	</div>
</div>