<!doctype html>
{% extends 'base.template.html' %}

{% block header %}
<div class="container blur-shadow black-border">
<br><br>
    <div class="doc-title d-none">{% block title %}Cleaning d'Solutions: {{article_data.article_title}}{% endblock %}</div>
{% endblock %}

{% block content %}
<!-- title -->
<div><h2>{{article_data.article_title}}</h2></div>

<!-- cleaning location -->

Targeted cleaning location: <br>
{% if (article_data.cleaning_location) %}
    {{ article_data.cleaning_location}}
{% else %}
    Not specified.
{% endif %}

<br><br>

<!-- content> -->
Notes: <br>
{{article_data.article_content|safe}}

<br><br><br>


<ul>
    <!-- cleaning items -->
    <li>Cleaning item:<br>
        {% if article_data.cleaning_items|length == 0 %}
            - No item found. -
        {% else %}
            <ul>
                {% for each_cleaning_items in article_data.cleaning_items %}
                    <li>{{each_cleaning_items}}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </li>
    <br>
    <!-- cleaning supplies -->
    <li>Cleaning supplies:<br>
        {% if (article_data.cleaning_supplies|length) == 0 %}
             - No item found. -
        {% else %}
            <ul>
                {% for each_cleaning_supplies in article_data.cleaning_supplies %}
                    <li>{{each_cleaning_supplies}}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </li>
    <br>
    <!-- tag -->
    <li>Tags:<br>
        {% if (article_data.tags|length) == 0 %}
            - No tag found. -
        {% else %}
            <ul>
                {% for each_tag in article_data.tags %}
                    <span class="badge badge-pill badge-secondary">{{each_tag}}</span>
                {% endfor %}
                
            </ul>
        {% endif %}        
    </li>
</ul>
<p>Creation date: {{article_data.date_created[0:12]}}</p>
<p>Last modified date: {{article_data.last_modified[0:12]}}</p>
{% if (article_owner_data) %}
<p>Created by: {{article_owner_data.nickname}}</p>


It works ! :<span class="badge badge-pill badge-info">{{ good_rating_count}}</span><br>
Works somewhat :<span class="badge badge-pill badge-info">{{ neutral_rating_count }}</span><br>
Doesn't work ! :<span class="badge badge-pill badge-info">{{ bad_rating_count }}</span><br>

<br>
<bR>
{% endif %}



 <form method="post" name="form" target="_self">


{% if current_user.is_authenticated %}

    Your have rated it:<br>
    <a href="/rate/{{article_data._id}}/good" class="btn  btn-md {% if user_rated == 'good' %} btn-success {% else %} btn-info {% endif %}">Rate It works !</a>
    <a href="/rate/{{article_data._id}}/neutral" class="btn  btn-md {% if user_rated == 'neutral' %} btn-success {% else %} btn-info {% endif %}">Rate works somewhat !</a>
    <a href="/rate/{{article_data._id}}/bad" class="btn  btn-md {% if user_rated == 'bad' %} btn-success {% else %} btn-info {% endif %}">Rate Doesn't work !</a>
    <br><br>

    <div class="form-group ">
        <label for="input-comment">Your comments:</label>
        <textarea class="form-control" id="input-comment" name="input-content" rows="3">{% if (user_comments) %}{{user_comments}}{% endif %}
        </textarea>
    </div>
    <a href="/articles/comment/{{article_data._id}}" class="btn btn-primary btn-md">Save Comments</a>

    <br>
    <br>
    


    {% if article_owner_data._id == current_user.id or current_user.admin%}
        <a href="/articles/edit/{{article_data._id}}" class="btn btn-primary btn-md">Edit Article</a>
        <a href="/articles/delete/{{article_data._id}}" class="btn btn-danger btn-md">Delete Article</a>
    {% endif %}
{% endif %}



<br><br><br>
<br></div>
<br><br>
{% endblock %}
