<!doctype html>
{% extends 'base.template.html' %}

{% block header %}
<h1>{% block title %}{% if listtype=='all' %}All Articles{% elif listtype=="my" %}My Articles{% else %}Articles Search{% endif %}{% endblock %}</h1>
{% endblock %}

{% block content %}
{% if (listtype=="search") %}
    <div class="black-border blur-shadow search-param">
        Searched for articles which fulfil the following conditions:<br>
            <ul>
            {% if (form.getlist('check-search-titles')) %}
                {% if (form.get('search-title').strip() == "") %}
                    <li>any words</li>
                {% else %}
                    <li>titles contain '{{form.get('search-title')}}'</li>
                {% endif %}
            {% endif %}
            {% if (form.getlist('check-search-locations')) and locationArray|length > 0 %}
                <li>cleaning:
                    <ul>
                    {% for each_location in locationArray %}
                        <li>{{each_location}}</li>
                    {% endfor %}
                    </ul>
                </li>
            {% endif %}
            {% if (form.getlist('check-search-tags')) and tagsArray|length > 0 %}
                {% if (tagsArray|length) > 1 %}
                    <li>with one or more of these tags:
                        <ul>
                            {% for each_tag in tagsArray %}
                                <li>{{each_tag}}</li>
                            {% endfor %}
                        </ul>
                    </li>
                {% else %}
                    <li>with this tag:
                        <ul>
                            {% for each_tag in tagsArray %}
                                <li>{{each_tag}}</li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endif %}
                </ul>
            {% endif %}
        </ul>
    </div>
{% endif %}




<table id="myTable" class="display" data-page-length="10">
    <thead>
        <tr>
            <td  class="article-titles">
                <strong>Article Title</strong>
            </td>
            <td  class="article-titles">
                <strong>Cleaning Location</strong>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for article in articles %}
        <tr>
            <td  class="article-titles">
                {{article.article_title}}
            </td>
            <td  class="article-titles">
                {{article.cleaning_location}}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>



{% endblock %}
