<!doctype html>
{% extends 'base.template.html' %}

{% block header %}
<h1>{% block title %}Contribute{% endblock %}</h1>
{% endblock %}

{% block content %}

<pe>

<form>
    <div class="form-group">
        <label for="input-title">Title: </label>
        <input type="text" class="form-control" id="input-title" name="input-title"
            placeholder="enter an article title" required/>
    </div>

    <div class="form-group">
        <label for="search-title">Targeted cleaning location:</label>
        <select class="custom-select" id="input-location" name="input-location" size="3" multiple>
            {% for each_location in location_data %}
                <option value="{{each_location.location}}" 
                    {% if form and each_location.location in form.getlist('search-location') %} selected {% endif %}
                >{{each_location.location}}</option>
            {% endfor %}
        </select>
    </div>

    <div>

        textarea for article content
        
    </div>

    <div>

        cleaning_location

    </div>
    <div>
        
        cleaning_items []
        
    </div>
    <div>

        tags []

    </div>

    <div>

        created_by

    </div>

</form>





_id
article_title
cleaning_location
cleaning_items []
cleaning_supplies []
tags []
date_created
date_modified
created_y


</pre>


{% endblock %}
