<!-- Displaying a choice of action between adding another article 
	or going to the user's articles listing after submitting an article from contribute route  -->
{% extends 'base.template.html' %}
{% block header %}
<h1>{% block title %}Contribute{% endblock %}</h1>
{% endblock %}
{% block content %}
<div class="container black-border blur-shadow p-3 pb-5 mb-5">
	<div class="container">
		<a href="{{url_for('contribute_articles')}}" class="btn btn-primary btn-md btn12">
		Add another article
		</a>
		<a href="{{url_for('my_articles')}}" class="btn btn-primary btn-md btn12 mt-5">
		Go to my article listing
		</a>
	</div>
</div>
{% endblock %}