<!-- Displaying a form for accepting article info, supporting the contribute route. -->
{% extends 'base.template.html' %}
{% block header %}
<h1>{% block title %}Contribute Article{% endblock %}</h1>
{% endblock %}
{% block content %}
<div class="container black-border blur-shadow p-3 pb-5 mb-5">
<br><br>
<div class="container">
<form method="post" name="form" target="_self">
	<!-- title -->
	<div class="form-group">
		<label for="input-title" class="thick">Title: </label>
		{% if form and form.get('input-title') != '' %}
		<input type="text" class="form-control" id="input-title" name="input-title" placeholder="enter an article title" required autofocus 
			value="{{form.get('input-title') }}"/>
		{% else %}
		<input type="text" class="form-control" id="input-title" name="input-title" placeholder="enter an article title" required autofocus value="" />
		{% endif %}
	</div>
	<!-- cleaning location -->
	<div class="form-group">
		<label for="search-title" class="thick">Targeted cleaning location:</label>
		<select class="custom-select" id="input-location" name="input-location" required>
			<option value="" disabled selected>Select your option</option>
			{% for each_location in location_data %}
                {% if (form) and (form.get('input-location') == each_location.location) %}
                    <option value="{{each_location.location}}" selected>{{ each_location.location }}</option>
                {% else %}
                    <option value="{{each_location.location}}" >{{ each_location.location }}</option>
                {% endif %}
			{% endfor %}
		</select>
	</div>
	<!-- content -->
	<div class="form-group ">
		<label for="input-content" class="thick">Content:</label>
		<textarea class="form-control" id="input-content" name="input-content" rows="10">{% if (form) %} {{form.get('input-content') }}{% endif %}
		</textarea>
	</div>
    <!-- cleaning items -->
    <div class="form-group">
        <label for="input-items" class="thick">Cleaning Items: <small>(seperated by commas)</small></label>
        {% if (form) %}
        <input type="text" class="form-control" id="input-items" name="input-items" rows="2"
            placeholder="i.e. tools and equipment" value = "{{form.get('input-items') }}"/>
        {% else %}
        <input type="text" class="form-control" id="input-items" name="input-items" rows="2"
            placeholder="i.e. tools and equipment" />
        {% endif %}
        <!-- cleaning supplies -->
        <div class="form-group">
            <label for="input-supplies" class="thick">Cleaning Supplies: <small>(seperated by commas)</small></label>
            {% if (form) %}
            <input type="text" class="form-control" id="input-supplies" name="input-supplies"
                placeholder="i.e. consumables" value = "{{form.get('input-supplies') }}"/>
            {% else %}
            <input type="text" class="form-control" id="input-supplies" name="input-supplies"
                placeholder="i.e. consumables" />
            {% endif %}
        </div>
        <!-- Tags -->
        <div class="form-group">
            <label for="input-tags" class="thick">Tags: </label>
            {% if (form) %}
            <input type="text" class="form-control" id="input-tags" name="input-tags"
                placeholder="enter tags, seperated by commas" 
                value = "{{form.get('input-tags') }}"/>
            {% else %}
            <input type="text" class="form-control" id="input-tags" name="input-tags"
                placeholder="enter tags, seperated by commas" />
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
</div>
</div>
{% endblock %}