<!doctype html>
{% extends 'base.template.html' %}

{% block header %}
<h1>{% block title %}Contribute{% endblock %}</h1>
{% endblock %}

{% block content %}

<pe>

 <form method="post" name="form" target="_self">
    <div class="form-group">
        <label for="input-title">Title: </label>
        <input type="text" class="form-control" id="input-title" name="input-title"
            placeholder="enter an article title" required/>
    </div>

    <div class="form-group">
        <label for="search-title">Targeted cleaning location:</label>
        <select class="custom-select" id="input-location" name="input-location" required>
            <option value="" disabled selected>Select your option</option>
            {% for each_location in location_data %}
                <option value="{{each_location.location}}" 
                    {% if form and each_location.location in form.getlist('search-location') %} selected {% endif %}
                >{{each_location.location}}</option>
            {% endfor %}
        </select>
    </div>

    <div>
        <div class="form-group ">
            <label for="input-content">Content:</label>
            <textarea class="form-control" id="input-content" rows="10"></textarea>
        </div>
    <div>

    <div class="form-group">
        <label for="input-items">Cleaning Items: </label>
        <input type="text" class="form-control" id="input-items" name="input-items"
            placeholder="enter cleaning items, seperated by commas" />
    </div>

    <div class="form-group">
        <label for="input-supplies">Cleaning Items: </label>
        <input type="text" class="form-control" id="input-supplies" name="input-supplies"
            placeholder="enter cleaning supplies (consumables), seperated by commas" />
    </div>

    <div class="form-group">
        <label for="input-tags">Cleaning Items: </label>
        <input type="text" class="form-control" id="input-tags" name="input-tags"
            placeholder="enter tags, seperated by commas" />
    </div>

    <input type="hidden" id="input-creator" name="input-creator" value="{{session._id}}">
    <button type="submit" class="btn btn-primary">Submit</button>
</form>





</pre>


{% endblock %}
