<!-- Support articles/edit route -->
{% extends 'base.template.html' %}
{% block header %}
<h1>{% block title %}Edit Article{% endblock %}</h1>
{% endblock %}
{% block content %}
<div class="container black-border blur-shadow p-3 pb-5 mb-5">
	<div class="container">
		<!-- title -->
		<div class="container mt-2">
			<h1>{{article_data.article_title}}</h1>
			<hr>
		</div>
		<form method="post" name="form" target="_self">
			<!-- this part of the form handles forms submitted from itself for 
				the purpose of amending mistakes or resetting the form -->
			{% if (form) %}
			<!-- title -->
			<div class="container">
				<div class="form-group">
					<label for="input-title">Title: </label>
					{% if form.get("input-title") != "" %} 
					<input type="text" class="form-control" id="input-title" name="input-title"
						placeholder="enter an article title" required autofocus value="{{form.get('input-title') }}"/>
					(% else $)
					<input type="text" class="form-control" id="input-title" name="input-title"
						placeholder="enter an article title" required autofocus/>
					{% endif %}
				</div>
				<!-- Validation/Ratings -->
				<div class="form-group">
					<label for="search-title">Targeted cleaning location:</label>
					<select class="custom-select" id="input-location" name="input-location" required>
						<option value="" disabled selected>Select your option</option>
						{% for each_location in location_data %}
						{% if form.get("input-location") == each_location.location %}
						<option value="{{each_location.location}}" selected > {{each_location.location}} </option>
						{% else %}
						<option value="{{each_location.location}}"> {{each_location.location}} </option>
						{% endif %}
						{% endfor %}
					</select>
				</div>
				<!-- content -->
				<div class="form-group ">
					<label for="input-content2">Content:</label>
					<textarea class="form-control" id="input-content2" name="input-content2" rows="10">{{form.get('input-content')}}
					</textarea>
				</div>
				<!-- cleaning items -->
				<div class="form-group">
					<label for="input-items">Cleaning Items: </label>
					<input type="text" class="form-control" id="input-items" name="input-items"
						placeholder="enter cleaning items, seperated by commas" value = "{{form.get('input-item') }}" />
				</div>
				<!-- cleaning supplies -->
				<div class="form-group">
					<label for="input-supplies">Cleaning Items: </label>
					<input type="text" class="form-control" id="input-supplies" name="input-supplies"
						placeholder="enter cleaning supplies (consumables), seperated by commas"
						value = "{{form.get('input-supplies')}}" >
				</div>
				<div class="form-group">
					<label for="input-tags">Tags: </label>
					<input type="text" class="form-control" id="input-tags" name="input-tags"
						placeholder="enter tags, seperated by commas" 
						value = "{{form.get('input-tags')}}" />
				</div>
				{% else %}
				<!-- title -->
				<div class="form-group">
					<label for="input-title">Title: </label>
					<input type="text" class="form-control" id="input-title" name="input-title"
						placeholder="enter an article title" required autofocus
						value="{{article_data.article_title}}" />
				</div>
				<!-- cleaning location -->
				<div class="form-group">
					<label for="search-title">Targeted cleaning location:</label>
					<select class="custom-select" id="input-location" name="input-location" required>
						<option value="" disabled selected>Select your option</option>
						{% for each_location in location_data %}
						{{each_location.location}}
						{% if article_data.cleaning_location == each_location.location %}
						<option value="{{each_location.location}}" selected>{{each_location.location}}</option>
						{% else %}
						<option value="{{each_location.location}}">{{each_location.location}}</option>
						{% endif %}
						{% endfor %}
					</select>
				</div>
				<!-- Validation/Ratings -->
				<div class="form-group ">
					<label for="input-content">Content:</label>
					<textarea class="form-control" id="input-content" name="input-content" rows="10">{{article_data.article_content}}
					</textarea>
				</div>
				<!-- cleaning items -->
				<div class="form-group">
					<label for="input-items">Cleaning Items: </label>
					<input type="text" class="form-control" id="input-items" name="input-items"
						placeholder="enter cleaning items, seperated by commas" value = "{{ ', '.join(article_data.cleaning_items) }}"/>
				</div>
				<!-- cleaning supplies -->
				<div class="form-group">
					<label for="input-supplies">Cleaning Items: </label>
					<input type="text" class="form-control" id="input-supplies" name="input-supplies"
						placeholder="enter cleaning supplies (consumables), seperated by commas" 
						value = "{{ ', '.join(article_data.cleaning_supplies) }}"/>
				</div>
				<!-- Tags -->
				<div class="form-group">
					<label for="input-tags">Tags: </label>
					<input type="text" class="form-control" id="input-tags" name="input-tags"
						placeholder="enter tags, seperated by commas" value = "{{ ', '.join(article_data.tag) }}"/>
				</div>
				{% endif %}
				<p>Creation date: {{article_data.date_created[0:12]}}</p>
				<input type="hidden" name="input-created" value="{{article_data.date_created[0:12]}}">
				<p>Last modified date: {{article_data.last_modified[0:12]}}</p>
				<input type="hidden" name="input-modified" value="{{article_data.last_modified[0:12]}}">
				{% if (article_owner_data) %}
				<p>Created by: {{article_owner_data.nickname}}</p>
				{% endif %}
				<input type="hidden" name="created_by" value="{{article_data.created_by}}">
				<button type="submit" class="btn btn-success">Save</button>
				<a href="{{url_for('edit_article'), _id=article_data.id'}}" class="btn btn-primary btn-md">
				Reset
				</a>
				<a href="{{url_for('/my_articles')" class="btn btn-danger btn-md">Cancel</a>
			</div>
		</form>
	</div>
</div>
{% endblock %}