<!-- Display the comments and rating associated with this article. -->
{% extends 'base.template.html' %}
{% block header %}
<h1>{% block title %}View Comments{% endblock %}</h1>
{% endblock %}
{% block content %}
<div class="container black-border blur-shadow p-3 pb-5 mb-5">
	<div class="container text-right">
        <a href="{{url_for('show_article',_id=_id)}}" class="btn btn6 btn-primary btn12">
            Back to Article
        </a>
    </div>
	<div class="container">
		<!-- title -->
		<div class="container mt-2">
			<h1>{{article_data.article_title}}</h1>
			<hr>
		</div>
        <div class="container  p-5 mb-5">
            <div class="container datatable_wrap">
                <table id="tableComments" class="table table-sm table-striped table-hover display dtr-inline collapsed"  data-page-length="10" style="width: 100%">
                    <thead class="thead-dark">
                        <tr>
                            <th class="d-none"></th>
                            <th  class="narrow">
                                Rating
                            </th>
                            <th scope="col">
                                Nickname
                            </th>
                            <th scope="col">
                                Comments
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if (joint_list|length > 0) %}
                            {% for each_comment in joint_list %} 
                            <tr>
                                <td class="d-none"></td>
                                <td class="rating-column">
                                    {% if each_comment.user_postings['good_rating'] %}
                                    <img src="{{ url_for('static', filename='img/faces/face_smile.png')}}" 
                                        class="faces" data-toggle="tooltip" data-placement="top" title="It works !">
                                    {% elif each_comment.user_postings['neutral_rating'] %}
                                    <img src="{{ url_for('static', filename='img/faces/face_blank.png')}}" 
                                        class="faces" data-toggle="tooltip" data-placement="top" title="Works somewhat..">
                                    {% elif each_comment.user_postings['bad_rating'] %}
                                    <img src="{{ url_for('static', filename='img/faces/face_frown.png')}}" 
                                        class="faces" data-toggle="tooltip" data-placement="top" title="It doesn't work !">
                                    {% endif %}
                                </td>
                                <td>
                                    {% if (each_comment.user_details)%}{{each_comment.user_details[0]['nickname']}}{% endif %}
                                </td>
                                <td>
                                    {% if (each_comment.user_postings['comments']) %}{{each_comment.user_postings['comments']}}{% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td></td>
                                <td></td>
                                <td >
                                    No comments or ratings found.
                                </td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
	</div>
	<div class="container text-right">
        <a href="{{url_for('show_article',_id=_id)}}" class="btn btn6 btn-primary btn12">
            Back to Article
        </a>
    </div>
</div>
{% endblock %}