<!-- Display the comments and rating associated with this article. -->
{% extends 'base.template.html' %}
{% block header %}
<h1>{% block title %}View Comments{% endblock %}</h1>
{% endblock %}
{% block content %}
<div class="container black-border blur-shadow p-3 pb-5 mb-5">
	<div class="container">
		<!-- title -->
		<div class="container mt-2">
			<h1>{{article_data.article_title}}</h1>
			<hr>
		</div>
		<div>
			<table id="myTable2" class=" display dataTable article-title" data-page-length="10" style="width:100%">
				<thead>
					<tr>
						<th>
							Rating
						</th>
						<th>
							Nickname
						</th>
						<th>
							Comments
						</th>
					</tr>
				</thead>
				<tbody>
					{% for each_comment in joint_list %} 
					<tr>
						<td class="rating-column">
							{% if each_comment.user_postings.good_rating %}
							<img src="{{ url_for('static', filename='img/faces/face_smile.png')}}" 
								class="faces" data-toggle="tooltip" data-placement="top" title="It works !">
							<span class="badge badge-pill badge-info">{{ good_rating_count}}</span>
							{% elif each_comment.user_postings.neutral_rating %}
							<img src="{{ url_for('static', filename='img/faces/face_blank.png')}}" 
								class="faces" data-toggle="tooltip" data-placement="top" title="Works somewhat..">
							<span class="badge badge-pill badge-info">{{ neutral_rating_count }}</span>
							{% else %}
								<img src="{{ url_for('static', filename='img/faces/face_frown.png')}}" 
								class="faces" data-toggle="tooltip" data-placement="top" title=It doesn't work !">
							<span class="badge badge-pill badge-info">{{ bad_rating_count }}</span>
							{% endif %}
						</td>
						<td>
							{% if (each_comment.user_details)%}{{each_comment.user_details[0]['nickname']}}{% endif %}
						</td>
						<td>
							{% if (each_comment.user_postings.comments) %}{{each_comment.user_postings.comments}}{% endif %}
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}