<!doctype html>

<html lang="en">

<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    
    <title>Cleaning d'Solutions - Solutions to griminess and messiness. </title>
    
    <meta name="description" content="Crowdsourced information, guides, recipes, tips and hacks on cleaning.">
    
    <title>{% block title %}{% endblock %}</title>
    
    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index,follow">

    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Oswald:wght@400;500&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/lib/reset/reset.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/lib/bootstrap/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/myStyle.css') }}">  

    <script src="{{ url_for('static', filename='js/lib/bootstrap/jquery-3.5.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/bootstrap/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/bootstrap/bootstrap.min.js') }}"></script>

</head> 

<body>

<!-- ========================================================== 
PAGE HEADER
========================================================== -->
<header>

<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
 <a class="navbar-brand" href="{{ url_for('home') }}">
    <img src="http://resume.donovanlo.sg/images/donovanlogo150x131.png" height="50" class="d-inline-block align-middle" alt="Logo">
    Cleaning d'Solutions&nbsp;&nbsp;&nbsp;
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
{% block header %}{% endblock %}

  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

</header>
<!-- ==========================================================
MAIN
========================================================== -->
<main>
{% block content %}{% endblock %}
</main>
<!-- ==========================================================
PAGE FOOTER
========================================================== -->
<footer>
</footer>

<!-- <nav>
  <h1>Flaskr</h1>
  <ul>
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>></li>
      <li><a href="{{ url_for('logout') }}">Log Out</a></li>
    {% else %}
      <li><a href="{{ url_for('register') }}">Register</a></li>
      <li><a href="{{ url_for('login_user') }}">Log In</a></li>
    {% endif %}
  </ul>
</nav> -->

</body>

</html>