<!doctype html>
{% extends 'base.template.html' %}

{% block header %}
<h1>{% block title %}Home{% endblock %}</h1>
{% endblock %}

{% block content %}


<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="black-border p-2 ml-2">  
                <h2>Search</h2>
                Conditions include:
                <form method="post" name="form" target="_self">
                    <input type="checkbox">
                    <div class="form-group">
                        <label for="search-title">Article Title containing..</label>
                        <input type="text" class="form-control" 
                            id="search-title" name="search-title" placeholder="search in title"
                            {% if (form) %} 
                                value="{{form.get('search-title')}}"
                            {%endif%}
                        />
                    </div>
                    <input type="checkbox">
                    <div class="form-group">
                        <label for="search-location">Cleaning Location targetted</label>
                            <input type="text" class="form-control" id="search-location" 
                                name="search-location" placeholder="search by cleaning location"
                                {% if (form) %}  
                                    value="{{form.get('search-location')}}"
                                {%endif%}
                            />
                    </div>
                    <input type="checkbox">
                    <div class="form-group">
                        <label for="search-tags">Tags (sepearated by commas)</label>
                        <input type="text" class="form-control"
                            id="search-tags" name="search-tags" placeholder="search by Tags"
                            {% if (form) %} 
                                value="{{form.get('search-tags')}}" 
                            {%endif%}
                        />
                    </div>
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="black-border p-2 ml-2">        
                <h2>Today's Article </h2>
                        
                # a list random 5 articles<br>
                # list all<br>
            </div>
        </div>
    </div>
</div>


{% endblock %}

