<!doctype html>
{% extends 'base.template.html' %}

{% block header %}
<h1>{% block title %}Home{% endblock %}</h1>
{% endblock %}

{% block content %}

<div class="container" style="border: 1px solid grey; height: 500px">
# search panel: search by article title, cleaning location and tags
# search result return in a list of title, cleaning location
# click on list to view article
</div>
<br><br>
<div class="container" style="border: 1px solid grey; height: 500px">
# a list random 5 articles
# list all
</div>

{% endblock %}

