<!doctype html>
{% extends 'base.template.html' %}

{% block header %}
<h1>{% block title %}Home{% endblock %}</h1>
{% endblock %}

{% block content %}


<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="black-border">
                Search Panel
                <pre>
# search panel: search by article title, cleaning location and tags
# search result return in a list of title, cleaning location
# click on list to view article
                </pre>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="black-border">
                Today's Article 
                <pre>
# a list random 5 articles
# list all
                </pre>
            </div>
        </div>
    </div>
</div>


{% endblock %}

