<!DOCTYPE html>
{% extends 'base.template.html' %} {% block header %}
<h1>{% block title %}Home{% endblock %}</h1>
{% endblock %} {% block content %}

<pre>
logging_user : {{logging_user}}
current_user : {{current_user}}
session : {{session}}
form : {{form}}
=======

1.{{user_posting_list}}
2.{{user_posting_data}}
3.{{user_posting_list.0}}
4.{{user_posting_list.0._id}}
5.{{user_posting_list.0['user_postings']}}
6.{{user_posting_list.0['user_postings']}}
7. {{good_rating_count}}

{% for posting in user_posting_list.0['user_postings'] %}
|| {{loop.index}}
|| {{posting['user_id']}}x
|| {{posting['comments']}}x
|| {{posting['good_rating']}}x
|| {{posting['neutral_rating']}}x
|| {{posting['bad_rating']}}x
{% endfor %}
--------------------
{% for posting in user_posting_list%}
|| {{loop.index}}
|| {{posting['user_id']}}x
|| {{posting['comments']}}x
|| {{posting['good_rating']}}x
|| {{posting['neutral_rating']}}x
|| {{posting['bad_rating']}}x
{% endfor %}


</pre>

{% endblock %}

