<!DOCTYPE html>
{% extends 'base.template.html' %} {% block header %}
<h1>{% block title %}Cleaning Locations{% endblock %}</h1>
{% endblock %} {% block content %}
<!-- display a form to allow user to add a new cleaning location -->
<form method="post" name="form" target="_self">
  <label for="input-new-location" class="mr-sm-2">Location:</label>
  <input
    type="text"
    class="form-control mb-2 mr-sm-2"
    placeholder="Enter location"
    id="input-new-location"
    name="input-new-location"
    required
  />
  <input type="hidden" name="action" value="add" />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<!-- display the list of cleaning locstion from the database sorted in ascending order -->
<!-- include edit and delete button for the respective actions -->
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Locations</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {%for location in location_data%}
    <tr>
      <td scope="row">{{location.location}}</td>
      <td>
        <form method="post" name="form" target="_self">
          <button type="submit" class="btn btn-primary">Edit</button>
          <input type="hidden" name="action" value="edit" />
          <input type="hidden" name="id" value="{{location._id}}" />
        </form>
      </td>
      <td>
        <form method="post" name="form" target="_self">
          <button type="submit" class="btn btn-danger">Delete</button>
          <input type="hidden" name="action" value="delete" />
          <input type="hidden" name="id" value="{{location._id}}" />
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
