<!DOCTYPE html>
{% extends 'base.template.html' %} {% block header %}
<h1>{% block title %}Register{% endblock %}</h1>
{% endblock %} {% block content %}

<form method="post" name="form" target="_self">
  <div class="form-group">
    <label for="input-email">Email address</label>
    <input
      type="email"
      class="form-control"
      id="input-email"
      name="input-email"
      aria-describedby="emailHelp"
      placeholder="enter your email"
      {% if form %}
        value="{{form.get('input-email')}}"
      {% endif %}
      required
    />
    <small id="emailHelp" class="form-text text-muted"
      >We'll never share your email with anyone else.</small
    >
  </div>
  <div class="form-group">
    <label for="input-nickname">Nickname</label>
    <input
      type="text"
      class="form-control"
      id="input-nickname"
      name="input-nickname"
      aria-describedby="nicknameHelp"
      placeholder="enter your nickname"
      {% if form %}
        value="{{form.get('input-nickname')}}"
      {% endif %}
      required
    />
    <small id="nicknameHelp" class="form-text text-muted"
      >This will be the name displayed on the site.</small
    >
  </div>
  <div class="form-group">
    <label for="input-password" class="mr-sm-2">Password:</label>
    <input
      type="password"
      class="form-control mb-2 mr-sm-2"
      pattern="^[A-Za-z\d]{8,20}$"
      placeholder="Enter password"
      id="input-password"
      name="input-password"
      aria-describedby="passwordHelpBlock"
      {% if form %}
        value="{{form.get('input-password')}}"
      {% endif %}
      required 
    />
    <small id="passwordHelpBlock" class="form-text text-muted">
      Your password must be 8-20 characters long, contain only alphabets and
      digits.
    </small>
  </div>
  <div class="form-group">
    <label for="input-verify" class="mr-sm-2">Verify:</label>
    <input
      type="password"
      class="form-control mb-2 mr-sm-2"
      pattern="^[A-Za-z\d]{8,20}$"
      placeholder="Enter password again"
      id="input-verify"
      name="input-verify"
      aria-describedby="verifypasswordHelpBlock2"
      required
      {% if form %} 
        value="{{form.get('input-verify')}}"
      {% endif %}
    />
    <small id="verifypasswordHelpBlock" class="form-text text-muted">
      Your password must be 8-20 characters long, contain only alphabets and
      digits.
    </small>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
