<!doctype html>
{% extends 'base.template.html' %}

{% block header %}
  <h1>{% block title %}Users Administration{% endblock %}</h1>
{% endblock %}

{% block content %}
<table id="table_id" class="display">
    <thead>
        <tr>
            <th>Nickname</th>
            <th>Email</th>
            <th>Admin?</th>
        </tr>
    </thead>
    <tbody>
    {% for user in user_data %}
        <tr>
            <td>{{user.nickname}}</td>
            <td>{{user.email}}</td>
            <td>{{user.admin}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}