<!doctype html>
{% extends 'base.template.html' %}

{% block header %}
  <h1>{% block title %}Users Administration{% endblock %}</h1>
{% endblock %}

{% block content %}

{{sortby}} \ {{sortorder}} \ {{pagenum}} \ {{user_data}} \ {{totaldata}}


<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">
                {% if sortby == 'nickname' %}
                    {% if sortorder == 'asc' %}
                        <a href="/users/manage?sortby=nickname&sortorder=desc&pagenum={{pagenum}}">Nickname {{ordericon}}</a>
                    {% else %}
                        <a href="/users/manage?sortby=nickname&sortorder=asc&pagenum={{pagenum}}">Nickname {{ordericon}}</a>
                    {% endif %}
                {% else %}
                    {% if sortorder == 'asc' %}
                        <a href="/users/manage?sortby=nickname&sortorder=asc&pagenum={{pagenum}}">Nickname</a>
                    {% else %}
                        <a href="/users/manage?sortby=nickname&sortorder=desc&pagenum={{pagenum}}">Nickname</a>
                    {% endif %}
                {% endif %}
            </th> 
            <th scope="col">
                {% if sortby == 'email' %}
                    {% if sortorder == 'asc' %}
                        <a href="/users/manage?sortby=email&sortorder=desc&pagenum={{pagenum}}">Email Address {{ordericon}}</a>
                    {% else %}
                        <a href="/users/manage?sortby=email&sortorder=asc&pagenum={{pagenum}}">Email Address {{ordericon}}</a>
                    {% endif %}
                {% else %}
                    {% if sortorder == 'asc' %}
                        <a href="/users/manage?sortby=email&sortorder=asc&pagenum={{pagenum}}">Email Address</a>
                    {% else %}
                        <a href="/users/manage?sortby=email&sortorder=desc&pagenum={{pagenum}}">Email Address</a>
                    {% endif %}
                {% endif %}
            </th>
            <th scope="col">
                {% if sortby == 'admin' %}
                    {% if sortorder == 'asc' %}
                        <a href="/users/manage?sortby=admin&sortorder=desc&pagenum={{pagenum}}">Admin? {{ordericon}}</a>
                    {% else %}
                        <a href="/users/manage?sortby=admin&sortorder=asc&pagenum={{pagenum}}">Admin? {{ordericon}}</a>
                    {% endif %}
                {% else %}
                  {% if sortorder == 'asc' %}
                        <a href="/users/manage?sortby=admin&sortorder=asc&pagenum={{pagenum}}">Admin?</a>
                    {% else %}
                        <a href="/users/manage?sortby=admin&sortorder=desc&pagenum={{pagenum}}">Admin?</a>
                    {% endif %}
                {% endif %}
            </th>
            <th>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {%for user in user_data%}
        <tr>
            <td scope="row">{{user.nickname}}</td>
            <td scope="row">{{user.email}}</td>
            <td scope="row">{% if user.admin %}Yes{% else %}No{% endif %}</td>
            <td>
                <form method="post" name="form" target="_self">
                    <button type="submit" class="btn btn-primary" disabled>Edit</button>
                    <input type="hidden" name="action" value="edit">
                    <input type="hidden" name="id" value="{{user._id}}">
                </form>
            </td>
            <td>
                <form method="post" name="form" target="_self">
                    <button type="submit" class="btn btn-danger" disabled>Delete</button>
                    <input type="hidden" name="action" value="delete">
                    <input type="hidden" name="id" value="{{user._id}}">
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="d-flex justify-content-center">
{%for i in range(pagenum-4, pagenum+5)%} 
    {% if i>0 and i<=totalpages %}
        {% if i==(pagenum-4) %}
            <a href="/users/manage?sortby={{sortby}}&sortorder={{sortorder}}&pagenum={{i-7}}"><button type="button" class="btn btn-success"><<</button></a>
        {% elif i==(pagenum+4) %}
            <a href="/users/manage?sortby={{sortby}}&sortorder={{sortorder}}&pagenum={{i+7}}"><button type="button" class="btn btn-success">>></button></a>
        {% elif i==pagenum %}
            <button type="button" class="btn btn-success">{{i}}</button>
        {% else %}
            <a href="/users/manage?sortby={{sortby}}&sortorder={{sortorder}}&pagenum={{i}}"><button type="button" class="btn btn-secondary">{{i}}</button></a>
        {% endif %}
    {% endif %}
{%endfor%} 
</div>
{% endblock %}
